*
{
    padding: 0;
    margin: 0;
}
.MyTable {
    width: 450px;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    height: 400px;
    margin: auto;
    margin-top: 15px;
    font-size: 15px;
}
.cols{
    height: 65%;
    width: 97%;
    background-color: beige;
    border-radius: 8px;
    border: 0.5px solid black;
}
input[type="button"]{
    width: 97%;
    height: 70%;
    border-radius: 8px;
    background-color: #64278F;
    color: white;
}
#TD1{
    background-color: #fb0066
}
input[type="button"]:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
}